<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Journal</title>
    <link rel="stylesheet" href="/chat/static/css/dark.css">
    <link rel="icon" href="/chat/static/imgs/favicon.ico">
  </head>
  <body style="background-color: #001f3f; color: #fff;">
      <h1>My Journal</h1>
    </header>
    <main>
      <script>
        // Pass the username from the template context to the global scope
        window.currentUser = "{{ user.username }}";
      </script>
      <!-- Pass the username as an attribute for the web component -->
      <journal-app username="{{ user.username }}"></journal-app>
    </main>
    <script type="module" src="/mr_journal/static/js/journal.js"></script>
  </body>
</html>
